In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from matplotlib import pyplot
df = pd.read_csv('EEG_data.csv')

In [2]:
df.drop(df[df['SubjectID'] == 6.0].index, inplace = True)

In [3]:
df.drop(['SubjectID', 'predefinedlabel'], axis=1, inplace=True)
df.head()

,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,user-definedlabeln
0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0
1,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0
2,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0
3,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0
4,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0

In [4]:
df0 = df[df['VideoID'] == 0.0]
df1 = df[df['VideoID'] == 1.0]
df2 = df[df['VideoID'] == 2.0]
df3 = df[df['VideoID'] == 3.0]
df4 = df[df['VideoID'] == 4.0]
df5 = df[df['VideoID'] == 5.0]
df6 = df[df['VideoID'] == 6.0]
df7 = df[df['VideoID'] == 7.0]
df8 = df[df['VideoID'] == 8.0]
df9 = df[df['VideoID'] == 9.0]

In [5]:
df0['user-definedlabeln'].value_counts()

0.0    988
1.0    284
Name: user-definedlabeln, dtype: int64

In [6]:
df1['user-definedlabeln'].value_counts()

1.0    848
0.0    424
Name: user-definedlabeln, dtype: int64

In [7]:
df2['user-definedlabeln'].value_counts()

0.0    624
1.0    528
Name: user-definedlabeln, dtype: int64

In [8]:
df3['user-definedlabeln'].value_counts()

1.0    592
0.0    498
Name: user-definedlabeln, dtype: int64

In [9]:
df4['user-definedlabeln'].value_counts()

1.0    836
0.0    376
Name: user-definedlabeln, dtype: int64

In [10]:
df5['user-definedlabeln'].value_counts()

1.0    738
0.0    369
Name: user-definedlabeln, dtype: int64

In [11]:
df6['user-definedlabeln'].value_counts()

0.0    596
1.0    469
Name: user-definedlabeln, dtype: int64

In [12]:
df7['user-definedlabeln'].value_counts()

0.0    581
1.0    483
Name: user-definedlabeln, dtype: int64

In [13]:
df8['user-definedlabeln'].value_counts()

1.0    896
0.0    262
Name: user-definedlabeln, dtype: int64

In [14]:
df9['user-definedlabeln'].value_counts()

0.0    889
1.0    255
Name: user-definedlabeln, dtype: int64

In [15]:
# From here, we have calculated the percentage of confused students for each particular VideoID
# The calculation is shown below:


# VideoID 0: (284/1272)100 = 22.32%
    
# VideoID 1: (848/1272)100 = 66.66 %
    
# VideoID 2: (528/1152)100 = 45.83 %
    
# VideoID 3: (592/1090)100 = 54.31 %
    
# VideoID 4: (836/1212)100 = 68.98 %
    
# VideoID 5: (738/1107)100 = 66.67 %
    
# VideoID 6: (469/1065)100 = 44.04 %
    
# VideoID 7: (483/1064)100 = 45.39 %
    
# VideoID 8: (896/1158)100 = 77.37 %
    
# VideoID 9: (225/1144)100 = 22.29 %